/* Globales
 */
*{
padding: 0px;
margin: 0px;
}

main{
    width: 100%;
    max-width: 960px;
}

h1{
position: absolute;
width: 211px;
height: 75px;
left: 374px;
top: 36px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;
color: #FFFFFF;
}

h2{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
color: #FFFFFF;
}

/* Intro
 */
.intro-seb{
position: absolute;
width: 361px;
height: 97px;
left: 68px;
top: 286px;
}

/* My skills
 */
.my-skills{
background-color:#7299FE;
max-width: 960px;
width: 100%;
}

.box-skills{
    display: flex;
    width: 80%;
    padding: 3%;
}

.skills-box-uno{
    padding-right: 20px;
    float: left;
}

.skills-box-dos{
    padding-left: 20px;
    float: right;
}
.skills-barra{
    display: inline-flex;
    margin-bottom: 20px;
}
.abajo1{
    width: 96px;
    height: 17px;
}

.abajo2{
    width: 154px;
    height: 17px;
}

.abajo3{
    width: 227px;
    height: 17px;
}

.abajo4{
    width: 182px;
    height: 17px;
}

.arriba1{
    width:268px;
    height: 17px;
}

.arriba2{
    width:210px;
    height: 17px;
}

.arriba3{
    width:137px;
    height: 17px;
}

.arriba4{
    width:182px;
    height: 17px;
}

skills-box-uno{
    display: inline-flex;
}


/* Servicios */
.servicios{
    background-color:#FB7171;
    width: 960px;
    }


/* Portfolio */
.portfolio{
        background-color:#FFD233;
        width: 960px;
        }

/* clientes */
#clientes{
    background-color:#3F4E62;
    width: 960px;
        }


/* Contacto */
#contacto{
    background-color:#16A085;
    width: 960px;
            }






.servicios-box,
.box-portfolio-1{
    display: inline-flex;
    flex-direction: row;
}



